{% extends '_base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome to NSTU practic</h1>
        <p class="lead">Мы - аккредитованная IT компания со всеми вытекающими отсюда привилегиями для наших сотрудников.

Кроме того, мы - это сервис автоматизации и персонализации маркетинга LeadHit

Что это значит?

наши клиенты - интернет магазины, которым мы помогаем настраивать автоматическую коммуникацию с покупателями;

мы всегда точно знаем, что нужно посетителям - наши алгоритмы рекомендации точно отслеживают путь пользователя на сайте;

делаем только полезный контент и релевантные предложения для покупателей;

повышаем лояльность покупателей и превращаем их в постоянных клиентов;

увеличиваем объемы продаж и прибыль пользователей нашего сервиса


LeadHit на рынке с 2011 года, а в 2016 и 2018 годах мы открыли офисы в США и Германии. За это мы подключили более 500 сайтов на сопровождении в России, Украине, Казахстане, Белоруссии, Германии и США. Сотрудничаем главным образом с малым и средним бизнесом, но и крупные клиенты у нас тоже есть!


Если вы увидели на сайте открытую вакансию, значит нашему небольшому, но очень сплоченному коллективу требуется пополнение :) Отбрось сомнения и откликайся - мы не кусаемся и всегда рады новым коллегам!</p>
        <hr class="my-4">
    </div>
{% endblock %}
