{% extends '_base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Test task</h1>
        <p class="lead"></p>
        <hr class="my-4">
        <form action="{% url 'requestURL' %}" method="get">
            <input name="url" type="text">
            <button type="submit" class="btn btn-primary btn-sm" action>click</button>
        </form>
        {% if shortURL %}
            <p><span style="font-weight: bold;">Сокращенная ссылка:</span> <a href="{{ shortURL }}" style="text-decoration: none; color: #007BFF;">{{ shortURL }}</a></p>
        {% endif %}
    </div>
{% endblock %}
